<%= render 'error_messages', article: @article %>
<div class="mx-auto col-8 mt-3">
  <h1>記事の編集</h1>
  <%= render 'form', article: @article %>
</div>

<div class="mx-auto col-8 py-2">
  <%= link_to 'Show', @article, class: 'btn btn-primary' %>
  <%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
</div>
