// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover-img{
    cursor: pointer;
}

.relative{
    position: relative;
    i{
        position: absolute;
        top: 39%;
        left: 44%;
        color: black;
        font-size: 70px;
    }
}


.img-wrapper {
    position: relative;
    width: 100%;
}

.img-wrapper:before {
    content: "";
    display: block;
    padding-top: 75%;
}

.img-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

