<footer class="footer">
  The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  <!-- #だとルート(/)のページ(今回はhome)を参照することになる   -->
  <!-- 名前付きルートを使用して書き換える '#' -> about_path  -->
  <li><%= link_to "About",   about_path %></li>
  <li><%= link_to "Contact", "#" %></li>
  <li><a href="http://news.railstutorial.org/">News</a></li>
</footer>
