<footer>
  <div class="footerHeader" ></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-1 mb-3 px-3 text-center">
        <h3 class="text-left">About me</h3>
        <p>
        関西メーカで働く凡人リーマン。<br>
        Web系に興味があり、いろいろと勉強しています。<br>
        vimがないと生きていけないほどvimが好きです。<br>
        目標は脱サラして自由を手に入れること。<br><br>
        このブログはRuby on Railsで開発しました。<br>
        IT系を中心に少しでも役立つことを情報発信できたらいいなと思っています。<br>
        </p>
        <br>
        <div class="d-flex justify-content-start">
          <a href="mailto:libertyreman@gmail.com?subject=お問い合わせ"><i class="mx-1 fas fa-envelope fa-fw fa-3x"></i></a>
          <a href="https://github.com/LibertyReman" target=”_blank”><i class="mx-1 fab fa-github fa-fw fa-3x"></i></a>
          <a href="https://twitter.com/LibertyReman" target=”_blank”><i class="mx-1 fab fa-twitter fa-fw fa-3x"></i></a>
        </div>
      </div>

      <div class="col-md-4 mt-1 mb-3 px-3 text-center">
        <h3 class="text-left">Contact</h3>
        <p>
        このブログに関するお問い合わせや、お仕事の依頼に関しましてはこちらからご連絡ください。
        </p>
        <div class="form-group text-left">
          <label for="name">名前</label>
          <!-- form-control-lgでサイズ変更 -->
          <input class="form-control form-control-sm" type="text" name="myname" id="name_data">
        </div>
        <div class="form-group text-left">
          <label for="message">メッセージ</label>
          <textarea id="msg_data" name="message" rows="4" cols="80" class="form-control"></textarea>
        </div>
        <div class="text-right">
          <button type="submit" id='mail_btn' class="btn btn-secondary py-1">送信</button>
        </div>
      </div>

      <script>
        window.onload = function() {
          var address, subject, body, hiddenData;
          var sendmail = document.getElementById('mail_btn');
          sendmail.onclick = function() {
            nameData = document.getElementById('name_data').value;
            msgData = document.getElementById('msg_data').value;
            address1 = 'libertyreman';
            address2 = '@gmail.com';
            address = address1+address2;
            subject = 'お問い合わせ';
            body = '【名前】' + '%0D%0A' + nameData + '%0D%0A' + '【メッセージ】' + '%0D%0A' + msgData; 
            location.href = 'mailto:' + address + '?subject=' + subject + '&body=' + body;
          };
        };
      </script>


      <!-- ボックスの全てのテキスト要素をセンターへ -->
      <div class="col-md-4 mt-1 mb-3 px-3 text-center">
        <!-- セクション名だけ左に寄せる -->
        <h3 class="text-left">Tweets</h3>
        <a class="twitter-timeline" data-width="420" data-height="320" data-theme="dark" data-chrome="noheader nofooter noborders" href="https://twitter.com/LibertyReman?ref_src=twsrc%5Etfw">Tweets by LibertyReman</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="font-weight-light text-center my-3">(C) 2020 Liber's Blog. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
