<footer>
  <div class="footerHeader" ></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 my-1 px-3 text-center">
        <h3 class="text-left">About me</h3>
        <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
      </div>

      <div class="col-md-4 my-1 px-3 text-center">
        <h3 class="text-left">Our Location </h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d433868.0837064906!2d35.66744174160663!3d31.836036762053016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151b5fb85d7981af%3A0x631c30c0f8dc65e8!2sAmman!5e0!3m2!1sen!2sjo!4v1499168051085" sytle="" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <!-- ボックスの全てのテキスト要素をセンターへ -->
      <div class="col-md-4 my-1 px-3 text-center">
        <!-- セクション名だけ左に寄せる -->
        <h3 class="text-left">Tweets</h3>
        <a class="twitter-timeline" data-width="420" data-height="350" data-theme="dark" data-chrome="noheader nofooter noborders" href="https://twitter.com/LibertyReman?ref_src=twsrc%5Etfw">Tweets by LibertyReman</a> 
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>        
      </div>
    </div>
  </div>
</footer>
